*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background-image: linear-gradient(
    to bottom right,
    $bg-linear-1,
    $bg-linear-2
  );
  color: #2c3e50;
  text-align: center;
  font-family: $poppins;
  padding: 70px;
  font-size: 1.6em;
  overflow: hidden;
}
section {
  position: relative;
  display: block;
  background-color: $primary-alpha-50;
  box-shadow: 0 0 5px $shadow-light;
  width: 100%;
  height: 85vh;
  border-radius: 30px;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #fff;
}
.button {
  border: none;
  outline: none;
  color: #fff;
  background-image: linear-gradient(
    to bottom right,
    rgb(255, 158, 174),
    $primary-dark
  );
  padding: 15px 30px;
  border-radius: 30px;
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  cursor: pointer;
  transition: all 0.2s ease;
  &:hover {
    background-image: linear-gradient(
      to bottom right,
      $primary-dark,
      rgb(255, 158, 174)
    );
  }
}
.code-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  width: auto;
  filter: blur(4px);
  z-index: -1;
  animation: move 5s infinite ease;
  .left,
  .right,
  .middle {
    width: 250px;
    height: 250px;
    border-radius: 10px;
  }
  .middle {
    border-left: 40px solid #000;
    transform: rotate(30deg);
    height: 350px;
  }
  .left {
    border-left: 40px solid #000;
    border-bottom: 40px solid #000;
    transform: rotate(45deg);
  }
  .right {
    border-right: 40px solid #000;
    border-bottom: 40px solid #000;
    transform: rotate(-45deg);
    margin-left: -200px;
  }
}

@keyframes move {
  from {
    opacity: 0.2;
    top: 50%;
  }
  50% {
    opacity: 1;
    top: 30%;
  }
  to {
    opacity: 0.2;
    top: 50%;
  }
}
