$primary: #fed9ff;
$secondary: #ffd79d;
$primary-light: #c9cfc9;
$primary-dark: #673be0;

$bg-linear-1: #ffddb7;
$bg-linear-2: #b4a5df;

$bg-linear-3: #975add;
$bg-linear-4: #3f00ee;

$primary-alpha-50: #fed9ff50;

$shadow-light: #fff;

$poppins: 'Poppins', Avenir, Helvetica, Arial, sans-serif;
$pattaya: 'Pattaya', Avenir, Helvetica, Arial, sans-serif;
